<%= form_with url: search_posts_path, local:true, method: :get do |f| %>
  <div class="input-group col-12">
    <%= f.text_field :keyword, class: "form-control search-control mr-1", placeholder: "Search..." %>
      <%= button_tag type: "submit", class: "btn btn-secondary " do %>
      <i class="fas fa-search"></i>
      <% end %>
  </div>
<% end %>