<img src="<%=asset_path('bg_top.png')%>" class="img-fluid" style="width: 100%; height: 150%;">
  <div style="background-color: #FFE4E1">
    <div class="container pt-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-12">
          <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
            <img src="/assets/header_logo.png" class="mb-4" style="width: 14rem; height: 4rem;">
            <h2 class="text-lg-left"><strong>って何ができるの？</strong></h2>
          </div>
        </div>
        <div class="col-lg-12">
          <p class="text-center">
            <strong>e-fufuは夫婦生活での出来事や悩み事を本音でさらけ出しあなたのココロの拠りどころとなる場所です。</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="container pb-5">
      <div class="row justify-content-center">
        <div class="col-md-6 mx-auto">
          <div class="card mt-4 text-center" style="width: 80%; height: 40%; margin: 0 auto;">
            <div class="card-header h5" style="color:#FFFFFF; background-color: #BC8F8F">
              <strong>1.会員登録をしよう</strong>
            </div>
            <div class="card-body p-3 rounded">
              <p>
                お名前は匿名でOK！<br>
                必要なのはメールアドレスとパスワードのみ！<br>
                お試しでゲストログインも可能！<br>
              </p>
            </div>
          </div>
          <div class="card mt-5 text-center" style="width: 80%; height: 40%; margin: 0 auto;">
            <div class="card-header h5" style="color:#FFFFFF; background-color: #BC8F8F">
              <strong>2.カテゴリを見てみよう</strong>
            </div>
            <div class="card-body p-3 rounded">
              <p>
                カテゴリ別の話題や<br>
                キーワード検索で気になる投稿を探せる！<br>
                まずはみんなのホンネを見てみよう！
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mx-auto">
          <div class="card mt-4 text-center" style="width: 80%; height: 40%; margin: 0 auto; ">
            <div class="card-header h5" style="color:#FFFFFF; background-color: #BC8F8F">
              <strong>3.ホンネを投稿しよう</strong>
            </div>
            <div class="card-body p-3 rounded">
              <p>
                普段身近な人には話せない...<br>
                そんな悩みや相談も匿名だから安心！<br>
                思い切ってさらけ出そう！<br>
              </p>
            </div>
          </div>
          <div class="card mt-5 text-center" style="width: 80%; height: 40%; margin: 0 auto;">
            <div class="card-header h5" style="color:#FFFFFF; background-color: #BC8F8F">
              <strong>4.リアクションをしよう</strong>
            </div>
            <div class="card-body p-3 rounded">
              <p>
                自分が共感できる話題が見つかるかも！<br>
                そんな時はいいねやコメントで<br>
                リアクションをしよう！<br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

