<!--  コメントはPostモデルに紐づいたpost_commentである＋ルーティングをネストしているためインスタンス変数を２つ指定 -->
<%= form_with model: [post, post_comment] do |f| %>
  <%= f.text_area :comment, rows: '5', placeholder: "コメントを入力（200文字以内）", class:"form-control" %>
    <div class="text-right">
      <%= f.submit "コメントする", class: "btn mt-2", style:"color:#FFFFFF; background-color:#696969" %>
    </div>
<% end %>