<div class="container px-sm-0">
  <h2 class="my-4 ml-lg-5 pl-lg-5">
    <strong>
      <!-- user.idを拾ったらそのユーザーのコメント履歴一覧を表示-->
      <% if params[:user_id] %>
        <%= @user.name %>さんのコメント履歴一覧
      <% else %>
        コメント履歴一覧
      <% end %>
    </strong>
  </h2>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="list-group" style= "width: 100%">
          <% if @comments.any? %>
            <!-- コメント一覧-->
            <%= render 'admin/post_comments/comment_list', comments: @comments %>
          <% else %>
            <div class="list-group-item text-center  p-2">
              <p class="p-2 m-2">コメントはありません</p>
            </div>
          <% end %>
          <div class="mx-auto mt-2">
            <%= paginate @comments %>
          </div>
        </div>
      </div>
    </div>
</div>
