<!-- 退会していない時の処理(is_deleted:false) -->
<% if @user.is_deleted == false %>
  <!-- ユーザーのプロフィール -->
  <%= render 'info', user: @user %>
  <div class="container px-sm-0">
    <h2 class="my-4 ml-lg-5 pl-lg-5">
      <strong>ブックマーク一覧</strong>
    </h2>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="list-group" style= "width: 100%">
          <% if @bookmark_posts.any? %>
            <!-- ブックマークした投稿一覧-->
            <%= render 'public/posts/list', posts: @bookmark_posts %>
          <% else %>
            <div class="list-group-item text-center  p-2">
              <p class="p-2 m-2">まだブックマークした投稿はありません</p>
            </div>
          <% end %>
        </div>
         <div class="d-flex justify-content-center mt-2">
          <%= paginate @bookmark_posts %>
        </div>
      </div>
    </div>
  </div>
<!--退会している場合の処理(is_deleted:true)-->
<% else %>
  <h3 class="text-center"><strong>退会済みユーザーです</strong></h3>
<% end %>