<!--退会していない場合の処理(is_deleted:false)-->
<% if @user.is_deleted == false %>
  <%= render 'info', user: @user %>
<!--退会している場合の処理(is_deleted:true)-->
<% else %>
  <h3 class="text-center"><strong>退会済みユーザーです</strong></h3>
<% end %>
